body{
  font-family: 'Vazirmatn', sans-serif;
}


.animButton {
  visibility: hidden;
  animation-name: animButton;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 3.5s;
  width: 0px;
  height: 50px;
}
@keyframes animButton {
  0% {
    background-color: white;
    border-radius: 0;
    width: 0;
  }

  90% {
    background-color: white;
    border-radius: 0;
    width: 100%;
  }
  100% {
    visibility: visible;
    width: 100%;
  }
}

.animText {
  visibility: hidden;
  animation-name: animText;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 2.5s;
}
@keyframes animText {
  from {
    transform: scale(1.5, 1.5);
  }
  to {
    transform: scale(1.1, 1.1);
    visibility: visible;
  }
}
.hoverBox2:hover {
  transition: height 1s;
}
.hoverBox2:hover:first-child {
  height: 100%;
}

.hoverBox:hover {
  animation: hoverBox 0.7s;
  animation-fill-mode: both;
}

.hoverBox:hover span p {
  color: white;
}

.hoverBox:hover div svg {
  fill: white;
}

.hoverBox:not(:hover) {
  animation: notHoverBox 0.7s;
}

@keyframes hoverBox {
  from {
    height: 0;
    background-color: #223a66;
  }
  to {
    height: 100px;
    background-color: #223a66;
  }
}

@keyframes notHoverBox {
  from {
    height: 100px;
    background-color: #223a66;
  }
  to {
    height: 0;
    background-color: #223a66;
  }
}

.tr div {
  transition: width 0.4s ease;
}
.tr div svg,
.tr div p {
  display: none;
}

.tr:hover svg,
.tr:hover p {
  display: block;
}

.tr:hover div {
  width: 100%;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #f13a66;
  transition: all 0.2s;
}

.btn:hover svg {
  fill: #f13a66;
}

.btn:hover p {
  color: #f13a66;
}
