@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .revicons {
    font-family: "revicons";
  }

  .Shabnam{
    font-family: "Shabnam";
  }

  .animP {
    visibility: hidden;
    animation-name: animP;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    position: relative;
  }
  @keyframes animP {
    3% {
      visibility: visible;
      right: 0;
    }
    100% {
      visibility: visible;
      right: 25%;
    }
  }

  .animButton {
    visibility: hidden;
    animation-name: animButton;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 3.5s;
    width: 0px;
    height: 50px;
  }
  @keyframes animButton {
    0% {
      background-color: white;
      border-radius: 0;
      width: 0;
    }

    90% {
      background-color: white;
      border-radius: 0;
      width: 100%;
    }
    100% {
      visibility: visible;
      width: 100%;
    }
  }

  .animText {
    visibility: hidden;
    animation-name: animText;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 2.5s;
  }
  @keyframes animText {
    from {
      transform: scale(1.5, 1.5);
    }
    to {
      transform: scale(1.1, 1.1);
      visibility: visible;
    }
  }
}

@layer base {
  html {
    font-family: "IRANYekan";
  }
}
