@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .revicons {
    font-family: "revicons";
  }

  .Shabnam {
    font-family: "Shabnam";
  }

  .Vazir {
    font-family: "vazir";
  }

  .animP {
    visibility: hidden;
    animation-name: animP;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    position: relative;
  }
  @keyframes animP {
    3% {
      visibility: visible;
      right: 0;
    }
    100% {
      visibility: visible;
      right: 25%;
    }
  }

  .animButton {
    visibility: hidden;
    animation-name: animButton;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 3.5s;
    width: 0px;
    height: 50px;
  }
  @keyframes animButton {
    0% {
      background-color: white;
      border-radius: 0;
      width: 0;
    }

    90% {
      background-color: white;
      border-radius: 0;
      width: 100%;
    }
    100% {
      visibility: visible;
      width: 100%;
    }
  }

  .animText {
    visibility: hidden;
    animation-name: animText;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 2.5s;
  }
  @keyframes animText {
    from {
      transform: scale(1.5, 1.5);
    }
    to {
      transform: scale(1.1, 1.1);
      visibility: visible;
    }
  }

  .hoverBox:hover {
    animation: hoverBox 0.7s;
    animation-fill-mode: both;
  }

  .hoverBox:hover span p {
    color: white;
  }

  .hoverBox:hover div svg {
    fill: white;
  }

  .hoverBox:not(:hover) {
    animation: notHoverBox 0.7s;
  }

  @keyframes hoverBox {
    from {
      height: 0;
      background-color: #223a66;
    }
    to {
      height: 27rem;
      background-color: #223a66;
    }
  }

  @keyframes notHoverBox {
    from {
      height: 27rem;
      background-color: #223a66;
    }
    to {
      height: 0;
      background-color: #223a66;
    }
  }

  .tr div {
    transition: width .4s ease;
  }
  .tr div svg , .tr div p{
    display: none;
  }

  .tr:hover svg , .tr:hover p{
    display: block;
  }

  .tr:hover div {
    width: 100%;
  }
}

@layer base {
@font-face {
 
    font-family: IRANYekan;
 
    src: url(Qs_Iranyekan.ttf)format(ttf);
 
}
  html {
    font-family: "IRANYekan";
  }
}
